# OIDC Configuration (Keycloak SSO)
OIDC_ISSUER=https://sso.potydev.cloud/realms/trpl
OIDC_CLIENT_ID=app-magang
OIDC_CLIENT_SECRET=PASTE_CLIENT_SECRET_HERE
OIDC_REDIRECT_URI=http://localhost:3001/api/auth/callback

# App Configuration
APP_URL=http://localhost:3001
NEXT_PUBLIC_PORTAL_URL=http://localhost:3000
PORT=3001
SESSION_SECRET=magang-trpl-session-secret-key-2026
NODE_ENV=development
